{% include 'general/header.html' with hide_header=True %}

{% load static %}
<section id="user_register" class='section h-100vh'>
	<div class="container h-100 d-flex align-items-center">
		<div class="user_register_container">
			{% if nombre %} <p>{{ nombre }}</p> {% endif %}
			<div class="row no-gutters h-100">
				<div class="col-md-6">
					<div class="user_register_bg">
						<div class="logo logo_white user_register_logo">
							<img src="{% static 'images/homemine_logo_white.png' %}" alt="">
						</div>
					</div>
				</div>
				<div class="col-md-6 register_col_wrap {% if fl %}moved{% endif %} ">

					<div class="user_register_form">
						{% if message %}
						{% if message == 'saved' %}
						<div class="user_register_message message message_success">
							<p>Se creado el usuario correctamente</p>

						</div>
						{% elif message == 'email_exists' %}
						<div class="user_register_message message message_error">
							<p>El email ingresado ya existe. Intente con un email distinto.</p>
						</div>
						{% endif %}
						{% endif %}
						<h3 class='user_register_title'>Registrate</h3>

						<p class="text_color">Comparte tus experiencias, en ellas, las personas que mas amas!</p>
						<form action="{% url 'user:register_user' %}" method="post">
							{% csrf_token %}

							<div class="field_form">
								<input class='input_text' type="text" placeholder="Nombre" name="user_register_name"
									id='user_register_name'>
							</div>
							<div class="field_form">
								<input class='input_text' type="text" placeholder="Email" name="user_register_email"
									id='user_register_email' name='user_register_email'>
							</div>
							<div class="field_form">
								<input placeholder="Contraseña" class='input_text' type="password" name="user_register_password"
									id='user_register_password' name='user_register_password'>
							</div>
							<div class="field_form">
								<input placeholder="Repita contraseña" class='input_text' type="password" name="user_register_rpassword"
									id='user_register_rpassword' name='user_register_rpassword'>
							</div>
							<div class="field_form field_multiple field_space_between">
								<div class="register_user_forpass">
									<a href="">¿Olvidó su contraseña?</a>
								</div>
								<input class='button general_button right_button' type="submit" value="Registrar">
							</div>
							<div class="field_form">
								<div class="toggle_access">
									<a class="sublink_box" href="">
										<i class="icon-login"></i>
										<span>¿Ya tienes cuenta?</span>
									</a>
								</div>
							</div>
						</form>
					</div>

					<div class="user_login_form">

						<h3 class='user_register_title'>Ingresa</h3>

						<form action="{% url 'user:login_user'  %}" method="post">
							{% csrf_token %}
							<div class="field_form">
								<input class='input_text' type="text" placeholder="Email" id='user_login_email' name='user_login_email'>
							</div>
							<div class="field_form">
								<input placeholder="Contraseña" class='input_text' type="password" name="user_login_password"
									id='user_login_password'>
							</div>

							<div class="field_form field_multiple field_space_between">
								<div class="register_user_forpass">
									<a href="#">¿Olvidó su contraseña?</a>
								</div>
								<input class='button general_button right_button' type="submit" value="Ingresar">
							</div>
							<div class="field_form">
								<div class="toggle_access">
									<a class="sublink_box" href="#">
										<i class="icon-login"></i>
										<span>¿No tienes cuenta?</span>
									</a>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>

	</div>
</section>

{% include 'general/footer.html' %}