*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: $font1;
  margin: 0;
  font-size: 17px;
  &.bg_gray {
    background: rgb(238, 238, 238);
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0.6rem 0;
}
p {
  margin: 0.6rem 0;
}
a {
  text-decoration: none;
  font-size: 15px;
  color: $text_colors;
}
input,
button,
textarea {
  font-family: $font1;
  font-size: 15px;
}

.section {
  margin: 20px 0;
}

.text_color {
  color: $text_colors;
}

.h-100 {
  height: 100%;
}
.h-100vh {
  height: 100vh;
}
.mb-25 {
  margin-bottom: 25px;
}

.logo {
  width: 150px;
  margin: auto;
  img {
    width: 100%;
  }
}
.logo_min {
  height: 35px;
  img {
    height: 100%;
  }
}
.logo_white {
  img {
    filter: contrast(0) brightness(3);
  }
}

.sublink_box {
  background: #{$principal_color}21;
  border: 1px solid #{$principal_color}7d;
  display: flex;
  width: 100%;
  padding: 10px;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  i {
    margin: 0 7px;
  }
}

.field_form {
  &.small {
    margin: 4px 0;
  }
  label {
    color: #3e3e3e;
    margin-bottom: 5px;
    font-size: 16px;
    display: block;
  }

  margin: 8px 0;
  input.input_text,
  textarea.input_text,
  select.select {
    display: block;
    width: 100%;
    padding: 10px 15px;
    border-radius: 4px;
    background: white;
    outline: none;
    border: 1px solid #d1d1d1;
    color: #484848;
    &:disabled {
      background: #dedede;
    }
  }
  textarea.input_text {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    min-height: 60px;
    max-height: 130px;
  }

  &.field_multiple {
    display: flex;
    align-items: center;

    select,
    input:not(.button),
    textarea {
      margin-right: 10px;
    }
    .button {
      min-width: 45px;
    }
  }
  &.field_space_between {
    justify-content: space-between;
  }
}
.button {
  cursor: pointer;
  padding: 8px 28px;
  line-height: 1;
  border-radius: 4px;
  display: inline-block;
  border: none;
  &.general_button {
    background: $principal_color;
    color: #fff;
    margin: auto;
    &:hover {
      background: #d40615;
    }
  }
  &.button_small {
    padding: 8px;
    font-size: 13px;
    i {
      font-size: 11px;
    }
  }
  &.button_all {
    display: block;
  }
  &.left_button {
    margin: inherit;
    margin-left: 0;
  }
  &.right_button {
    margin: inherit;
    margin-right: 0;
  }
  &.button_green {
    color: #021804;
    background: #5fde69;
    &:hover {
      background: #4ed159;
    }
  }
}

input.input_file {
  position: absolute;
  top: 0;
  cursor: pointer;
  left: 0;
  height: 100%;
  opacity: 0;
  width: 100%;
}

.modal {
  position: fixed;
  left: 0;
  z-index: 10;
  top: 0;
  background: #000000c7;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  display: none;
  &.show {
    display: flex;
  }
  .modal_wrap {
    max-width: 550px;
    width: 95%;
    margin: auto;
    background: white;
    border-radius: 4px;
  }
  .modal_title {
    padding: 8px 20px;
    box-shadow: 0 0px 3px #828282;
  }
  .modal_body {
    padding: 12px 20px;
  }
}
