.header_container {
  background: #fff;
  padding: 10px 25px;
}
.header_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_nav ul {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  li {
    padding: 0 10px;
  }
  a {
    padding: 10px;
    color: #636363;
    font-weight: bold;
    display: block;
    border-radius: 4px;
    &.close_session {
      background: #eeeeee;
    }
    &:hover {
      background: $principal_color;
      color: white;
    }
  }
}
