$icomoon-font-family: "homemine" !default;
$icomoon-font-path: "/static/fonts" !default;

$icon-camera: "\e904";
$icon-tag: "\e935";
$icon-plus: "\ea0a";
$icon-key: "\e900";
$icon-email: "\e901";
$icon-user: "\e902";
$icon-login: "\e903";


@font-face {
  font-family: '#{$icomoon-font-family}';
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?tkf2ky');
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?tkf2ky#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?tkf2ky') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?tkf2ky') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?tkf2ky##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-camera {
  &:before {
    content: $icon-camera; 
  }
}
.icon-tag {
  &:before {
    content: $icon-tag; 
  }
}
.icon-plus {
  &:before {
    content: $icon-plus; 
  }
}
.icon-key {
  &:before {
    content: $icon-key; 
  }
}
.icon-email {
  &:before {
    content: $icon-email; 
  }
}
.icon-user {
  &:before {
    content: $icon-user; 
  }
}
.icon-login {
  &:before {
    content: $icon-login; 
  }
}

