.message {
  padding: 0 5px;
  width: 100%;
  text-align: center;
  font-size: 14px;
  border-radius: 4px;
  &.message_success {
    background: #05f4a7;
    color: #004831;
  }
  &.message_error {
    background: #ffa7a7;
    color: #9c0000;
  }
}
