{% include 'general/header.html' with body_class='bg_gray' %}

<section id="create_post" class="section">
  <div class="container">
    <div class="create_post_container">
      <div class="create_post_wrap">
        <div class="hm_box_wrap set_info">
          <div class="hm_box_context">
            <h3 class='text_color'>Comparte tu post</h3>
            <p class="text_color">Añade magia a tu hogar agregando tus experiencias y desiciones para mostrar a el mundo
              quien eres realmente.</p>
            <form action="{% url 'user:create_post' %}" method="post" enctype="multipart/form-data" id="create_post_form">
              {% csrf_token %}
              {% if images %}
                <pre>Images:{{images}}</pre>
              {% endif %}
               {% if data %}
                <pre>Data:{{data}}</pre>
              {% endif %}
              <div class="row">
                <div class="col-md-4">
                  <div class="create_post_image_wrap">
                    <div class="create_post_image_container">
                      <input type="file" id="create_post_image" name='create_post_image' class='input_file'>
                      <i class="icon-camera"></i>
                    </div>
                  </div>
                </div>
                <div class="col-md-8">
                  <div class="field_form">
                    <input placeholder="Titulo de post" id="create_post_title" name="create_post_title" type="text"
                      class='input_text'>
                  </div>
                  <div class="field_form">
                    <textarea class='input_text' placeholder="Descripcion" name="create_post_desc"
                      id="create_post_desc"></textarea>
                  </div>
                  <div class="field_form small field_multiple field_space_between">

                   
                    <select class='select' {% if not tags %} disabled {% endif %}  name='create_post_tag' id="create_post_tag">
                      {% if tags %}
                      {% for tag in tags %}
                        <option value="{{tag.id}}">{{ tag.data_post_title }}</option>
                      {% endfor %}
                      {% endif %}

                      {% if not tags %}
                      <option id="option_no_tags" value="">No existen etiquetas</option>
                      {% endif %}
                    </select>
                    <button type="button" id="toggle_modal_tag" class="button button_small button_green">
                      <i class="icon-plus"></i>
                      <i class="icon-tag"></i>
                    </button>
                  </div>
                  <div class="field_form">
                    <button class="button general_button">
                      Crear
                    </button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<div class="modal" id="modal_add_tag">
  <div class="modal_wrap">
    <div class="modal_container">
      <div class="modal_title">
        <h4 class="text_color">Agregar etiqueta</h4>
      </div>
      <div class="modal_body">
        <div class="field_form">
          <label for="">Nombre de etiqueta</label>
          <input type="hidden" value="{{csrf_token}}" id="csrf_token_new_tag">
          {% csrf_token %}
          <input type="text" class="input_text" id="new_title_tag">
        </div>
        <div class="field_form">
          <button class="button general_button" id="action_new_tag">
            Guardar
          </button>
        </div>
      </div>

    </div>
  </div>
</div>

{% include 'general/footer.html' %}