{% include 'general/header.html' with body_class='bg_gray' %}

<section id="initial_page" class="section">
  <div class="container">
    <div class="hm_box_wrap inform">
      <div class="hm_box_context">
        <h4 class="text_color">Hola {{ session.session_name}}</h4>
        <p class="text_color mb-25">No tienes posts aun, quieres crear tu primer post?</p>
        <a href="{% url 'user:create_post' %}" class="button general_button button_">Ir alla</a>
      </div>
    </div>
  </div>
</section>

{% include 'general/footer.html' %}