<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Titulo de Documento</title>
  {% load static %}
  <link href="https://fonts.googleapis.com/css?family=Muli&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/custom.min.css' %}">
</head>

<body class='{{ body_class|default:"" }}'>
  {% if not hide_header %}
  <header>
    <div class="header_container">
      <div class="header_wrapper">
        <div class="header_left_side">
          <div class="header_logo">
            <div class="logo_min">
              <img src="{% static 'images/homemine_mlogo.png' %}" alt="">
            </div>
          </div>
        </div>
        <div class="header_right_side">
          <nav class='header_nav'>
            <ul>
              <li><a href="">Inicio</a></li>
              <li><a href="">Perfil</a></li>
              <li><a class="close_session" href="">Cerrar Sesion</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </header>
  {% endif %}