#create_post_form {
  margin-top: 35px;
}
.set_info {
  padding: 17px;
}
.create_post_image_wrap {
  height: 210px;
  width: 210px;
  margin: auto;
  border: 1px solid #d1d1d1;
  border-radius: 4px;
  .create_post_image_container {
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    i{
      color: #d1d1d1;
    }
  }
}
