.hm_box_wrap {
  padding: 10px;
  background: white;
  border-radius: 4px;
  box-shadow: 0 2px 5px #d6d6d6;
  &.inform{
    min-height: 150px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
  }
}
