.register_col_wrap {
  position: relative;
  overflow: hidden;
  &.moved {
    .user_register_form {
      transform: translateX(-100%);
    }
    .user_login_form {
      transform: translateX(0%);
    }
  }
}
.user_register_title {
  color: $principal_color;
  text-align: left;
  font-size: 22px;
  width: 100%;
}
.user_register_container {
  width: 100%;
  height: 500px;
  margin: auto;
  box-shadow: 0 3px 10px #a9a9a9;
  max-width: 750px;
  border-radius: 6px;
  overflow: hidden;
}
.user_register_bg {
  background: $principal_color;
  height: 100%;
  display: flex;
}
.user_register_form {
  transform: translateX(0%);
}
.user_login_form {
  transform: translateX(100%);
}
.user_register_form,
.user_login_form {
  padding: 20px;
  display: flex;
  transition: transform 0.4s cubic-bezier(0.77, 0, 0.175, 1);
  position: absolute;
  width: 100%;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: center;
  background: white;
  form {
    width: 100%;
  }
}
